<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus urna eu imperdiet luctus. Sed sed quam nunc. Phasellus non tempor mi. Praesent mattis laoreet consectetur. Phasellus convallis interdum diam sit amet cursus. Cras eu ultricies lorem. Phasellus elementum iaculis tempor. Maecenas pellentesque semper neque vel hendrerit. Etiam ornare maximus placerat. 
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-9898</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 91234-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados        
    </section>
</footer>